@import url(https://fonts.googleapis.com/css?family=Istok+Web);

@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}
* {
  box-sizing: border-box;
}
figure { 
  margin: 0; background: #fff;
  /*font-family: Istok Web, sans-serif;*/
  font-weight: 100;
}
.captioned-gallery { 
  width: 100%; overflow: hidden;
  border:#fff 4px solid;
  border-radius:8px; 
}
figure.slider { 
  position: relative; width: 500%;
  font-size: 0; animation: 15s slidy infinite; 
}
figure.slider figure { 
  width: 20%; height: auto;
  display: inline-block;  position: inherit; 
}
figure.slider img { width: 100%; height: auto; }
figure.slider figure figcaption { 
  position: absolute; bottom: 0;
  background:#222;
  text-align: center;
  color: #fff; width: 100%;
  font-size: 2rem; padding: .6rem; 
}
figure.slider .office {
  border:#fff 1px solid !important;
  border-radius:4px;
  
}
figure.slider .office img{
  height: 300px;
}
.animate-fading{
  animation:fading 10s infinite
  }
  @keyframes fading
  {
   0% {opacity:0}
  50%  {opacity:1}
  100% {opacity:0}
  }


  .slide-container {
  overflow: auto;
  white-space: nowrap;
}
@media(max-width:736px){
  figure.slider figure figcaption {
    position: absolute;
    bottom: 0;
    background: #222;
    text-align: center;
    color: #fff;
    width: 100%;
    font-size: 1.3rem;
    padding: .6rem;
}
.navbar .container {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}
.navbar-nav {
    margin: 7.5px 0px;
    width: 100%;
    text-align: center;
    /* margin-left: -32px; */
}
}